{
    "presets": [
        "react-native"
    ],
    "plugins": [
         "react-require",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "styles": "./styles",
                    "actions": "./actions",
                    "containers": "./containers",
                    "components": "./components"
                }
            }
        ]
    ]
}