{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "react/no-string-refs": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
		"import/first": 0,
    "strict": 0,
		"no-use-before-define": 0,
		"react/prefer-stateless-function": 1,
		"react/forbid-prop-types": 0
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "expect": true,
    "browser": true,
    "react": true, // we use babel-plugin-react-require, so no required to import react.
    "sinon": true,
    "fetch": true
  },
  "env": {
    "mocha": true,
    "amd": true
  }
}